.element {
  border: 1px solid #F5F5F5;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.element:hover {
  border: 1px solid darkblue;
}

.debug {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 10px;
  margin: 0;
  z-index: 100;
  color: #106cc8;
  padding: 0 5px;
}

.debug:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}

